.LeaderBoard {
    display: grid;
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    grid-gap: 3em;
}


.leaderboard-title-container{
    background-color: lightblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 6em;
    text-align: center;
}

.leaderboard-home-container{
    background-color: lightblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 6em;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


.leaderboard-container {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .row {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #AFAFAF;
  }
  
  .name {
    position: relative;
    display: inline-block;
    width: 75%;
    line-height: 45px;
  }
  
  .score {
    position: relative;
    display: inline-block;
    width: 25%;
  }
  
  .row:nth-child(1) {
    background: gold;
  }
  
  .row:nth-child(2) {
    background: #c0c0c0;
  }
  
  .row:nth-child(3) {
    background: #cd7f32;
  }

.leaderboard-title {
    font-family: Garamond, serif;
    font-size: 3em;
}

.leaderboard-home{
    font-family: Garamond, serif;
    font-size: 2em;
}

.name-text{
    font-family: Garamond, serif;
    font-size: 1.5em;
}