.transition-message {
  grid-area: message;
  background-color: lightblue;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 6em;
  text-align: center;
  margin-top: 2em;
}

.transition-next {
  grid-area: next;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 7em;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.transition-home {
  /* grid-area: home; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 7em;
  text-align: center;
}

.Transition {
  max-width: 1000px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  display: grid;
  grid-template-areas:
    "message message"
    "home next";
  grid-gap: 3em;
  row-gap: 1em;
}

.transition-text {
  font-size: 1.5em;
}

.transition-title {
  font-size: 3em;
}
