.progress-title-container {
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 6em;
  text-align: center;
}

.progress-header {
  text-align: center;
}

.exercise {
  text-align: center;
}

.progress-home-container {
  height: 6em;
  text-align: center;
  vertical-align: middle;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  justify-content: center;
}

.progress-title {
  font-size: 3em;
}

.progress-home {
  font-size: 2em;
}

.progress-page {
  width: 1000px;
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

.progress-bar-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 1em;
  justify-content: center;
}
.myProgress {
  width: 100%;
  height: 25px;
}
